<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Search a user</mat-card-title>
    <mat-card-subtitle>Introduce the username to look for information about the user</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="I.e. pablop44" (keyup)="changeUsername($event)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getSelectedValue($event.option.value)">
        <mat-option *ngFor="let user of optionUser" [value]="user.login">
          <img class="example-option-img" aria-hidden [src]="user.avatar_url" height="25">
          <span>{{user.login}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
</mat-card>

